


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Poll Creator</title>
<link href="~/Content/fontsPacifico.css" rel="stylesheet" />
<link href="~/Content/pictures/Polls.ico" rel="icon" type="image/x-icon" />

<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/cssOpeSans.css" rel="stylesheet" />

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/kendoStyles")

@Scripts.Render("~/bundles/jqueryKendo")
@Scripts.Render("~/bundles/kendo")

@Scripts.Render("~/bundles/modernizr")

<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/cssOpeSans.css" rel="stylesheet" />